@model BrnMall.Web.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{ 
   <script src="@{@WorkContext.ScriptDir}/Scripts/utils.js" type="text/javascript"></script>
   <script src="@{@WorkContext.ScriptDir}/Scripts/account.js" type="text/javascript"></script>
   <script type="text/javascript">
            var returnUrl = "@Model.ReturnUrl";
            var shadowName = "@Model.ShadowName";
   </script>
}
        <div id="warp">
            <div class="autohei">
                <div align="center">
                    <img src="../images/zhuce.jpg" width="998" height="34" />
                </div>
                <div class="blank"></div>
                <div class="denglu autohei">
                    <span class="left">
                        <img src="../images/zhuce_p1.jpg" width="459" height="250" /></span>
                    <div class="denglucont right">
                        <ul class="dl_tit">
                            <li onmouseover="set('dlqh',1,2)" id="dlqh1" class="hover">个人登陆</li>
                        </ul>
                        <div class="dlbox">
                            <div id="condlqh1">
                                <form name="loginForm" action="">
                                    <div><strong>登录名：</strong></div>
                                    <div>
                                        <input type="text" name="accountName" value="" class="inpt1" size="25" />
                                    </div>
                                    <div><strong>登陆密码：</strong></div>
                                    <div>
                                        <input type="password" name="password" class="inpt1" type="text" size="25" />
                                    </div>
                                    @if (Model.IsVerifyCode)
                                    { 
                                        <div><strong>验证码：</strong></div>
                                        <div>
                                            <input class="inpt1" type="text" size="12" name="verifyCode" autocomplete="off" /><span class="imgbor"><img id="verifyImage" style="cursor: hand" height="24" title="点击刷新验证码" onclick="this.src='/tool/verifyimage?time=' + new Date()" src="/tool/verifyimage" /></span>
                                        </div>
                                    }
                                    @if (Model.IsRemember)
                                    {
                                        <input name="isRemember" type="checkbox" value="1" style="width: 20px;">下次自动登录</input> 
                                    }
                                </form>
                                <div>
                                    @foreach (PluginInfo info in Model.OAuthPluginList)
                                    {
                                        IOAuthPlugin instance = (IOAuthPlugin)info.Instance;
                                        <a href="@Url.Action(instance.LoginAction, instance.LoginController, instance.LoginRouteValues)" style="margin: 0; padding: 3px 10px 3px 0px;">
                                            <img src="@{@WorkContext.ImageDir}/Images/@{@info.SystemName}.png" /></a>
                                    }
                                </div>
                                <div>
                                    <a href="#" id="loginBut" onclick="login()">
                                        <img src="../images/denglu.jpg" /></a> <a href="@Url.Action("FindPwd")">忘记登录密码?</a> | <a href="@Url.Action("Register", "account")">我要注册</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






