@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>@{@WorkContext.MallConfig.SiteTitle}</title>
        <meta name="keywords" content="@WorkContext.MallConfig.SEOKeyword" />
        <meta name="description" content="@WorkContext.MallConfig.SEODescription" />
        <link href="@{@WorkContext.CSSDir}/css/in.css" rel="stylesheet" type="text/css" />
        <link href="@{@WorkContext.CSSDir}/css/g_222.css" rel="stylesheet" type="text/css" />
        <link href="@{@WorkContext.CSSDir}/css/g_css.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="@{@WorkContext.ScriptDir}/js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="@{@WorkContext.ScriptDir}/js/common.js"></script>
        <script type="text/javascript" language="javascript" src="@{@WorkContext.ScriptDir}/js/jquery.min.1.7.1.js"></script>
        <script type="text/javascript" language="javascript" src="@{@WorkContext.ScriptDir}/js/ljs.js"></script>
        <script src="@{@WorkContext.ScriptDir}/Scripts/MSClass.js" type="text/javascript"></script>
        <script src="@{@WorkContext.ScriptDir}/Scripts/common.js" type="text/javascript"></script>

        <script type="text/javascript">
            $(function () {
                var sWidth = $("#focus").width(); //获取焦点图的宽度（显示面积）
                var len = $("#focus ul li").length; //获取焦点图个数
                var index = 0;
                var picTimer;

                //以下代码添加数字按钮和按钮后的半透明条，还有上一页、下一页两个按钮
                var btn = "<div class='btnBg'></div><div class='btn'>";
                for (var i = 0; i < len; i++) {
                    btn += "<span></span>";
                }
                btn += "</div><div class='preNext pre'></div><div class='preNext next'></div>";
                $("#focus").append(btn);
                $("#focus .btnBg").css("opacity", 0.5);

                //为小按钮添加鼠标滑入事件，以显示相应的内容
                $("#focus .btn span").css("opacity", 0.4).mouseover(function () {
                    index = $("#focus .btn span").index(this);
                    showPics(index);
                }).eq(0).trigger("mouseover");

                //上一页、下一页按钮透明度处理
                $("#focus .preNext").css("opacity", 0.2).hover(function () {
                    $(this).stop(true, false).animate({ "opacity": "0.5" }, 300);
                }, function () {
                    $(this).stop(true, false).animate({ "opacity": "0.2" }, 300);
                });

                //上一页按钮
                $("#focus .pre").click(function () {
                    index -= 1;
                    if (index == -1) { index = len - 1; }
                    showPics(index);
                });

                //下一页按钮
                $("#focus .next").click(function () {
                    index += 1;
                    if (index == len) { index = 0; }
                    showPics(index);
                });

                //本例为左右滚动，即所有li元素都是在同一排向左浮动，所以这里需要计算出外围ul元素的宽度
                $("#focus ul").css("width", sWidth * (len));

                //鼠标滑上焦点图时停止自动播放，滑出时开始自动播放
                $("#focus").hover(function () {
                    clearInterval(picTimer);
                }, function () {
                    picTimer = setInterval(function () {
                        showPics(index);
                        index++;
                        if (index == len) { index = 0; }
                    }, 4000); //此4000代表自动播放的间隔，单位：毫秒
                }).trigger("mouseleave");

                //显示图片函数，根据接收的index值显示相应的内容
                function showPics(index) { //普通切换
                    var nowLeft = -index * sWidth; //根据index值计算ul元素的left值
                    $("#focus ul").stop(true, false).animate({ "left": nowLeft }, 300); //通过animate()调整ul元素滚动到计算出的position
                    //$("#focus .btn span").removeClass("on").eq(index).addClass("on"); //为当前的按钮切换到选中的效果
                    $("#focus .btn span").stop(true, false).animate({ "opacity": "0.4" }, 300).eq(index).stop(true, false).animate({ "opacity": "1" }, 300); //为当前的按钮切换到选中的效果
                }
            });
            $(function () {
                $(".menmian1 .menmian_tit .fenlei .fenleili").hover(function () {
                    var i = $(this).index();
                    $(".menmian1 .menmian_tit .fenlei .fenleili").removeClass("active").eq(i).addClass("active");
                    $(".aboutus .about_top .menmian1 .menmian_con ul").hide(0);
                    $(".aboutus .about_top .menmian1 .menmian_con ul").eq(i).show(0);
                });
            });
            $(function () {
                $(".tuijianprobox .tjfenlei .tj_menu ul li").hover(function () {
                    var i = $(this).index();
                    $(".tuijianprobox .tjfenlei .tj_menu ul li a").removeClass("active").eq(i).addClass("active");
                    $(".tuijianprobox .tj_prolist").hide(0);
                    $(".tuijianprobox .tj_prolist").eq(i).show(0);
                });
            });
        </script>
    </head>

<body>
    <div class="cntop">
        <div class="teacent autohei2">
            <div class="zhuce">
                <p>您好，欢迎光临@{@WorkContext.MallConfig.MallName}！[<span>
                                                                   @if (WorkContext.Uid < 1)
                                                                         {
                                                                       <a href="@Url.Action("Login", "Account", new RouteValueDictionary { { "returnUrl", WorkContext.Url } })">登录</a><text> | </text>
    <a href="@Url.Action("Register", "Account")">注册</a>
    }
    else
    {
    @:您好 @WorkContext.NickName
    <a href="@Url.Action("Logout", "Account")">退出</a><text> | </text>
    if (WorkContext.PartUserInfo.StoreId > 1)
    {
    <a href="@Url.Action("Index", "Home", new RouteValueDictionary { { "area", "StoreAdmin" } })">店铺管理</a><text> | </text>
    }
    if (WorkContext.MallAGid > 1)
    {
    <a href="@Url.Action("Index", "Home", new RouteValueDictionary { { "area", "MallAdmin" } })">商城管理</a>
    }
    }
</span>]</p>
                <p class="pk2">客户服务电话：4000-800-900</p>
            </div>
            <div class="hankoubtop">
                <h3 id="jr1">
                    <a href="@Url.Action("Index", "Cart")"><img src="/images/cart.jpg" alt="" /> 我的购物车【<span>@WorkContext.CartProductCount</span>】</a><div id="conjr1" style="display: none;">
                        <div class="wddingd">
                            <p>您好，欢迎光临汉口北。请您 <strong class="red2">登录97HKB</strong></p>
                            <ul>
                                <li><a href="@Url.Action("OrderList", "UCenter")">&gt; 我的订单</a></li>
                                <li><a href="@Url.Action("FavoriteProductList", "UCenter")">&gt; 我的搜藏</a></li>
                                <li><a href="@Url.Action("ProductConsultList", "UCenter")">&gt; 我的站内消息</a></li>

                            </ul>
                            <div class="autohei">
                                <div class="left"><img src="images/sy_tb2.jpg" width="134" height="22" /></div>
                                <div class="right"><img src="images/sy_tb3.jpg" width="134" height="22" /></div>
                            </div>
                        </div>
                    </div>
                </h3><h3 id="jr2">
                    <a href="#">专业市场导航</a><div id="conjr2" style="display: none;">
                        <div class="krjiatb2">
                            <dl>
                                <dt>&gt; 汉口北国际交易中心</dt>
                                <dd>
                                    <a href="#">鞋业皮具城</a><a href="#">品牌服装城</a><a href="#">酒店用品城</a>
                                    <a href="#">鞋业皮具城</a><a href="#">品牌服装城</a><a href="#">酒店用品城</a>
                                    <a href="#">鞋业皮具城</a><a href="#">品牌服装城</a><a href="#">酒店用品城</a>
                                    <a href="#">鞋业皮具城</a><a href="#">品牌服装城</a><a href="#">酒店用品城</a>
                                    <a href="#">鞋业皮具城</a><a href="#">品牌服装城</a><a href="#">酒店用品城</a>
                                    <a href="#">鞋业皮具城</a><a href="#">品牌服装城</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>&gt; 四季美农贸城</dt>
                                <dd>
                                    <a href="#">蔬菜市场</a><a href="#">粮油市场</a><a href="#">冻品市场</a><br />
                                    <a href="#">蔬菜市场</a><a href="#">粮油市场</a><a href="#">冻品市场</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>&gt; 四季美农贸城</dt>
                                <dd><a href="#">五金电器城</a><a href="#">窗帘大世界</a><a href="#">灯饰城</a></dd>
                            </dl>
                            <ul>
                                <li>&gt; 中国家俱CBD</li>
                                <li>&gt; 华中渔具市场</li>
                                <li>&gt; 汽车大世界</li>
                                <li>&gt; 长江金属交易中心</li>
                                <li>&gt; 农业装备物流交易中心</li>
                                <li>&gt; 国际数码城</li>
                            </ul>
                        </div>
                    </div>
                </h3><h3 class="sy_spf">全部商品分类</h3>


            </div>
        </div>
    </div>
    <div class="hktait">
        <div class="logo left"><img src="/images/logo.jpg" width="244" height="59" /></div>
        <div class="spsousuo">
            <div class="dpqh">
                <h3 class="hover">商品</h3>
                <h3>店铺</h3>
                <p>热搜：<a href="#" onclick="mallSearch('女装新款')">女装新款</a><a href="#" onclick="mallSearch('女装新款')">男装T恤</a><a href="#" onclick="mallSearch('女装新款')">女装新款</a><a href="#" onclick="mallSearch('男装T恤')">男装T恤</a></p>
            </div>
            <form>
                <input type="text" id="keyword" name="keyword" class="sosp" autocomplete="off" onkeydown="javascript:if(event.keyCode==13) mallSearch(document.getElementById('keyword').value);" value="@WorkContext.SearchWord" />
                <input name="" type="button" class="soan" onclick="mallSearch(document.getElementById('keyword').value)" />
            </form>
        </div>
        <div class="right"><img src="/images/s_t7.jpg" width="199" height="65" /></div>
    </div>
    <div class="nav">
        <div class="content">
            <div class="spfl">
                <h3>酒店用品商品分类</h3>
            </div>
            <div class="jdypcs">
                <p>酒店用品城首页<span>·门面出租·招聘·新闻·认证商户</span></p>
            </div>
            <div class="jiesuan">
                <a href=""><img src="images/temai.jpg" alt="" /></a>
                <a href=""><img src="images/weihuo.jpg" alt="" /></a>
            </div>
        </div>
    </div>



























    <div class="container">
        <div class="topbox">
            <div class="smenu">
                <div class="menubox menubox2">
                    <div class="menutit"><a href="">大堂用品</a></div>
                    <div class="menucon">
                        <ul>
                            <li><a href="">迎宾地毯</a></li>
                            <li><a href="">雨伞架3</a></li>
                            <li><a href="">雨伞</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menubox">
                    <div class="menutit"><a href="">客房用品</a></div>
                    <div class="menucon">
                        <ul>
                            <li><a href="">迎宾地毯</a></li>
                            <li><a href="">雨伞架3</a></li>
                            <li><a href="">雨伞</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menubox menubox2">
                    <div class="menutit"><a href="">餐饮用品</a></div>
                    <div class="menucon">
                        <ul>
                            <li><a href="">迎宾地毯</a></li>
                            <li><a href="">雨伞架3</a></li>
                            <li><a href="">雨伞</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menubox">
                    <div class="menutit"><a href="">酒店家具</a></div>
                    <div class="menucon">
                        <ul>
                            <li><a href="">迎宾地毯</a></li>
                            <li><a href="">雨伞架3</a></li>
                            <li><a href="">雨伞</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menubox menubox2">
                    <div class="menutit"><a href="">厨房设备</a></div>
                    <div class="menucon">
                        <ul>
                            <li><a href="">迎宾地毯</a></li>
                            <li><a href="">雨伞架3</a></li>
                            <li><a href="">雨伞</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menubox">
                    <div class="menutit"><a href="">装修装饰</a></div>
                    <div class="menucon">
                        <ul>
                            <li><a href="">迎宾地毯</a></li>
                            <li><a href="">雨伞架3</a></li>
                            <li><a href="">雨伞</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menubox menubox2">
                    <div class="menutit"><a href="">清洁设备/清洁用品</a></div>
                    <div class="menucon">
                        <ul>
                            <li><a href="">迎宾地毯</a></li>
                            <li><a href="">雨伞架3</a></li>
                            <li><a href="">雨伞</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menubox">
                    <div class="menutit"><a href="">酒店其他配套产品</a></div>
                    <div class="menucon">
                        <ul>
                            <li><a href="">迎宾地毯</a></li>
                            <li><a href="">雨伞架3</a></li>
                            <li><a href="">雨伞</a></li>
                        </ul>
                    </div>
                </div>
                <div class="smenu_all"><a href="">按照酒店用品城商铺查看商品</a></div>
            </div>
            <div class="top_center">
                <div class="banner">
                    <div class="wrapper">
                        <div id="focus">
                            <ul>
                                @{
    BannerInfo[] bannerList = Banners.GetHomeBannerList();
}
@foreach (BannerInfo info in bannerList)
{
    <li><a href="@info.Url" target="_blank"><img border="0" src="/Upload/Banner/@info.Img" /></a></li>
}
                            </ul>
                        </div><!--focus end-->
                    </div><!-- wrapper end -->
                </div>
                <div class="weihuo">
                    <div class="wh_tit">
                        <a href=""><img src="images/g_whqc.jpg" alt="" /></a>
                    </div>
                    <div class="weihuo_con">
                        <div class="weuhuoli">
                            <div class="imgbox">
                                <a href=""><img src="images/g_wh_product.jpg" alt="" /></a>
                                <div class="cunhuo"><p>仅剩：<span>165</span>件</p></div>
                            </div>
                            <div class="wh_detail">
                                <div class="wh_name"><a href="">德尔玛垂直式夏..</a></div>
                                <div class="price">
                                    <p><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="weuhuoli">
                            <div class="imgbox">
                                <a href=""><img src="images/g_wh_product.jpg" alt="" /></a>
                                <div class="cunhuo"><p>仅剩：<span>165</span>件</p></div>
                            </div>
                            <div class="wh_detail">
                                <div class="wh_name"><a href="">德尔玛垂直式夏..</a></div>
                                <div class="price">
                                    <p><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="weuhuoli">
                            <div class="imgbox">
                                <a href=""><img src="images/g_wh_product.jpg" alt="" /></a>
                                <div class="cunhuo"><p>仅剩：<span>165</span>件</p></div>
                            </div>
                            <div class="wh_detail">
                                <div class="wh_name"><a href="">德尔玛垂直式夏..</a></div>
                                <div class="price">
                                    <p><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="weuhuoli">
                            <div class="imgbox">
                                <a href=""><img src="images/g_wh_product.jpg" alt="" /></a>
                                <div class="cunhuo"><p>仅剩：<span>165</span>件</p></div>
                            </div>
                            <div class="wh_detail">
                                <div class="wh_name"><a href="">德尔玛垂直式夏..</a></div>
                                <div class="price">
                                    <p><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="weuhuoli">
                            <div class="imgbox">
                                <a href=""><img src="images/g_wh_product.jpg" alt="" /></a>
                                <div class="cunhuo"><p>仅剩：<span>165</span>件</p></div>
                            </div>
                            <div class="wh_detail">
                                <div class="wh_name"><a href="">德尔玛垂直式夏..</a></div>
                                <div class="price">
                                    <p><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top_right">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td><img src="images/g_jyaq.jpg" alt="" /></td>
                        <td><img src="images/g_mjbz.jpg" alt="" /></td>
                    </tr>
                    <tr>
                        <td class="leiji" colspan="2">
                            <div class="year">2013</div>
                            <div class="month">09</div>
                            <div class="day">13</div>
                            <div class="leijicon">
                                <p>今日总商品<span>2884197</span>件</p>
                                <p>最新新增加<span>196</span>件</p>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="temai">
                    <div class="temai1"><a href=""><img src="images/g_adpic1.jpg" alt="" /></a></div>
                    <div class="temai2"><a href=""><img src="images/g_adpic2.jpg" alt="" /></a></div>
                    <div class="temai3"><a href=""><img src="images/g_adpic3.jpg" alt="" /></a></div>
                    <div class="gengduo"><a href="" class="more">更多专场特卖></a></div>
                </div>
                <div class="news">
                    <div class="news_tit"><a href="" class="more">+更多</a><span>新闻公告</span></div>
                    <ul>
                        <li><a href="">凡客限时9折单卖，欢迎您选购 </a></li>
                        <li><a href="">凡客限时9折单卖，欢迎您选购 </a></li>
                        <li><a href="">凡客限时9折单卖，欢迎您选购 </a></li>
                        <li><a href="">凡客限时9折单卖，欢迎您选购 </a></li>
                        <li><a href="">凡客限时9折单卖，欢迎您选购 </a></li>
                        <li><a href="">凡客限时9折单卖，欢迎您选购 </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="adbox"><a href=""><img src="images/g_ad.jpg" alt="" /></a></div>
        <div class="tuijianprobox">
            <div class="tjfenlei">
                <div class="tj_tit">推荐商品</div>
                <div class="tj_menu">
                    <ul>
                        <li><a href="" class="active">一次性用品</a></li>
                        <li><a href="">中餐设备</a></li>
                        <li><a href="">西餐设备</a></li>
                        <li><a href="">制冷设备</a></li>
                        <li><a href="">烘烤设备</a></li>
                        <li><a href="">清洁剂</a></li>
                        <li><a href="">洗衣房设备</a></li>
                        <li><a href="">清洁工具</a></li>
                    </ul>
                </div>
            </div>
            <div class="tj_prolist" style="display:block;">
                <div class="tj_slist">
                    <ul>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tj_right">
                    <div class="fenlei_more"><a href="">+ 更多一次性用品</a></div>
                    <div class="tj_bigimg">
                        <a href=""><img src="images/g_tuijianpro.png" alt="" /></a>
                        <div class="prodetail">
                            <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                            <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj_prolist">
                <div class="tj_slist">
                    <ul>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tj_right">
                    <div class="fenlei_more"><a href="">+ 更多中餐设备</a></div>
                    <div class="tj_bigimg">
                        <a href=""><img src="images/g_tuijianpro.png" alt="" /></a>
                        <div class="prodetail">
                            <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                            <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj_prolist">
                <div class="tj_slist">
                    <ul>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tj_right">
                    <div class="fenlei_more"><a href="">+ 更多西餐设备</a></div>
                    <div class="tj_bigimg">
                        <a href=""><img src="images/g_tuijianpro.png" alt="" /></a>
                        <div class="prodetail">
                            <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                            <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj_prolist">
                <div class="tj_slist">
                    <ul>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tj_right">
                    <div class="fenlei_more"><a href="">+ 更多制冷设备</a></div>
                    <div class="tj_bigimg">
                        <a href=""><img src="images/g_tuijianpro.png" alt="" /></a>
                        <div class="prodetail">
                            <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                            <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj_prolist">
                <div class="tj_slist">
                    <ul>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tj_right">
                    <div class="fenlei_more"><a href="">+ 更多烘烤设备</a></div>
                    <div class="tj_bigimg">
                        <a href=""><img src="images/g_tuijianpro.png" alt="" /></a>
                        <div class="prodetail">
                            <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                            <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj_prolist">
                <div class="tj_slist">
                    <ul>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tj_right">
                    <div class="fenlei_more"><a href="">+ 更多清洁剂</a></div>
                    <div class="tj_bigimg">
                        <a href=""><img src="images/g_tuijianpro.png" alt="" /></a>
                        <div class="prodetail">
                            <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                            <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj_prolist">
                <div class="tj_slist">
                    <ul>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tj_right">
                    <div class="fenlei_more"><a href="">+ 更多洗衣服设备</a></div>
                    <div class="tj_bigimg">
                        <a href=""><img src="images/g_tuijianpro.png" alt="" /></a>
                        <div class="prodetail">
                            <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                            <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj_prolist">
                <div class="tj_slist">
                    <ul>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="imgbox"><a href=""><img src="images/g_tuijianpro.png" alt="" /></a></div>
                            <div class="prodetail">
                                <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                                <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tj_right">
                    <div class="fenlei_more"><a href="">+ 更多清洁工具</a></div>
                    <div class="tj_bigimg">
                        <a href=""><img src="images/g_tuijianpro.png" alt="" /></a>
                        <div class="prodetail">
                            <div class="name"><a href="">欧诗奈泉一次性牙刷</a></div>
                            <div class="price"><span class="xianjia">￥80.00</span><span class="yuanjia">125.00</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="renzhengshangjia">
            <div class="renzheng_fenlei">
                <div class="renzheng_tit">认证商家</div>
                <div class="renzheng_fenlei_con">
                    <ul>
                        <li><a href="" class="small">大堂用品</a></li>
                        <li><a href="" class="small">客房用品</a></li>
                        <li><a href="" class="small">餐饮用品</a></li>
                        <li><a href="" class="small">酒店家具</a></li>
                        <li><a href="" class="small">厨房设备</a></li>
                        <li><a href="" class="small">装修装饰</a></li>
                        <li><a href="" class="rzbg">清洁设备/清洁用品</a></li>
                        <li><a href="" class="rzbg">其他配套产品</a></li>
                    </ul>
                </div>
            </div>
            <div class="renzhenglist">
                <ul>
                    <li>
                        <div class="imgbox"><a href=""><img src="images/g_renzhengpic.png" alt="" /></a></div>
                        <div class="renzheng_detail">
                            <div class="name"><a href="">海腾玻璃工艺</a></div>
                            <p>主营：玻璃器皿、玻璃花瓶手绘花瓶、烛台、烛台、玻璃、玻璃烛台、玻...</p>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox"><a href=""><img src="images/g_renzhengpic.png" alt="" /></a></div>
                        <div class="renzheng_detail">
                            <div class="name"><a href="">海腾玻璃工艺</a></div>
                            <p>主营：玻璃器皿、玻璃花瓶手绘花瓶、烛台、烛台、玻璃、玻璃烛台、玻...</p>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox"><a href=""><img src="images/g_renzhengpic.png" alt="" /></a></div>
                        <div class="renzheng_detail">
                            <div class="name"><a href="">海腾玻璃工艺</a></div>
                            <p>主营：玻璃器皿、玻璃花瓶手绘花瓶、烛台、烛台、玻璃、玻璃烛台、玻...</p>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox"><a href=""><img src="images/g_renzhengpic.png" alt="" /></a></div>
                        <div class="renzheng_detail">
                            <div class="name"><a href="">海腾玻璃工艺</a></div>
                            <p>主营：玻璃器皿、玻璃花瓶手绘花瓶、烛台、烛台、玻璃、玻璃烛台、玻...</p>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox"><a href=""><img src="images/g_renzhengpic.png" alt="" /></a></div>
                        <div class="renzheng_detail">
                            <div class="name"><a href="">海腾玻璃工艺</a></div>
                            <p>主营：玻璃器皿、玻璃花瓶手绘花瓶、烛台、烛台、玻璃、玻璃烛台、玻...</p>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox"><a href=""><img src="images/g_renzhengpic.png" alt="" /></a></div>
                        <div class="renzheng_detail">
                            <div class="name"><a href="">海腾玻璃工艺</a></div>
                            <p>主营：玻璃器皿、玻璃花瓶手绘花瓶、烛台、烛台、玻璃、玻璃烛台、玻...</p>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox"><a href=""><img src="images/g_renzhengpic.png" alt="" /></a></div>
                        <div class="renzheng_detail">
                            <div class="name"><a href="">海腾玻璃工艺</a></div>
                            <p>主营：玻璃器皿、玻璃花瓶手绘花瓶、烛台、烛台、玻璃、玻璃烛台、玻...</p>
                        </div>
                    </li>
                    <li>
                        <div class="imgbox"><a href=""><img src="images/g_renzhengpic.png" alt="" /></a></div>
                        <div class="renzheng_detail">
                            <div class="name"><a href="">海腾玻璃工艺</a></div>
                            <p>主营：玻璃器皿、玻璃花瓶手绘花瓶、烛台、烛台、玻璃、玻璃烛台、玻...</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="adbox"><a href=""><img src="images/g_ad.jpg" alt="" /></a></div>
        <div class="aboutus">
            <div class="abouttit">关于汉口北酒店用品城</div>
            <div class="about_top">
                <div class="aboutbox">
                    <div class="img"><img src="images/g_aboutpic.png" alt="" /></div>
                    <div class="aboutcon">
                        <p>华中厨具酒店用品市场已全部搬迁至汉口北，博大、大中原、国宴、赛贝、杭宝、镇辉、鑫华泰等百余家知名品牌落户国际商品交易中心酒店用品城，着力打造着力打造以博大、大中原等为首的行业精英在酒店用品城纷纷提档升级，新店规模大都在500到3000平米左右。新店规模大都在500到3000平米左右博大...</p>
                    </div>
                </div>
                <div class="menmian menmian1">
                    <div class="menmian_tit"><a href="" class="more">+更多</a><span class="menmianbox">市场门面租售</span><div class="fenlei"><span class="fenleili active">出租</span><span class="fenleili">出售</span></div></div>
                    <div class="menmian_con">
                        <ul class="chuzu">
                            <li><a href="">南龙湖镇大学城1000平米门面出租</a></li>
                            <li><a href="">南龙湖镇大学城1000平米门面出租</a></li>
                            <li><a href="">南龙湖镇大学城1000平米门面出租</a></li>
                            <li><a href="">南龙湖镇大学城1000平米门面出租</a></li>
                            <li><a href="">南龙湖镇大学城1000平米门面出租</a></li>
                        </ul>
                        <ul class="chushou">
                            <li><a href="">南龙湖镇大学城1000平米门面出租1</a></li>
                            <li><a href="">南龙湖镇大学城1000平米门面出租1</a></li>
                            <li><a href="">南龙湖镇大学城1000平米门面出租1</a></li>
                            <li><a href="">南龙湖镇大学城1000平米门面出租1</a></li>
                            <li><a href="">南龙湖镇大学城1000平米门面出租1</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menmian">
                    <div class="menmian_tit"><a href="" class="more">+更多</a><span class="menmianbox">酒店用品城招聘</span></div>
                    <div class="menmian_con">
                        <ul>
                            <li><a href="">南龙湖镇大学城1000平米门面出租</a></li>
                            <li><a href="">南龙湖镇大学城1000平米门面出租</a></li>
                            <li><a href="">南龙湖镇大学城1000平米门面出租</a></li>
                            <li><a href="">南龙湖镇大学城1000平米门面出租</a></li>
                            <li><a href="">南龙湖镇大学城1000平米门面出租</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about_bottom">
                <div class="sheying">
                    <div class="sheying_tit"><a href="">+更多</a>市场摄影</div>
                    <div class="sheying_con">
                        <ul>
                            <li><a href=""><img src="images/g_sheying.jpg" alt="" /></a></li>
                            <li class="center"><a href=""><img src="images/g_sheying.jpg" alt="" /></a></li>
                            <li><a href=""><img src="images/g_sheying.jpg" alt="" /></a></li>
                        </ul>
                    </div>
                </div>
                <div class="zhaoshang">
                    <div class="zhaoshang_tit"><a href="" class="more">+更多</a>招商代理</div>
                    <ul>
                        <li><a href=""><span>[10-13]</span> 浙江衢州华锐节能炉头诚招全国代理商</a></li>
                        <li><a href=""><span>[10-13]</span> 浙江衢州华锐节能炉头诚招全国代理商</a></li>
                        <li><a href=""><span>[10-13]</span> 浙江衢州华锐节能炉头诚招全国代理商</a></li>
                        <li><a href=""><span>[10-13]</span> 浙江衢州华锐节能炉头诚招全国代理商</a></li>
                        <li><a href=""><span>[10-13]</span> 浙江衢州华锐节能炉头诚招全国代理商</a></li>
                    </ul>
                </div>
                <div class="zhaoshang">
                    <div class="zhaoshang_tit"><a href="" class="more">+更多</a>行业资讯</div>
                    <ul>
                        <li><a href=""><span>[10-13]</span> 浙江衢州华锐节能炉头诚招全国代理商</a></li>
                        <li><a href=""><span>[10-13]</span> 浙江衢州华锐节能炉头诚招全国代理商</a></li>
                        <li><a href=""><span>[10-13]</span> 浙江衢州华锐节能炉头诚招全国代理商</a></li>
                        <li><a href=""><span>[10-13]</span> 浙江衢州华锐节能炉头诚招全国代理商</a></li>
                        <li><a href=""><span>[10-13]</span> 浙江衢州华锐节能炉头诚招全国代理商</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="zhinan autohei">
            <div class="zlzce left">
                <ul>
                    <li><strong>新手指南</strong></li>
                    <li>注册新用户</li>
                    <li>网站订购流程</li>
                </ul>
                <ul>
                    <li>
                        <strong>
                            如何付款/退款

                        </strong>
                    </li>
                    <li>支付方式</li>
                    <li>如何办理退款</li>
                </ul>
                <ul>
                    <li><strong>配送方式</strong></li>
                    <li>如何选择物流公司</li>
                    <li>配送范围及配送时间</li>
                    <li>配送费收取标准</li>
                </ul>
                <ul>
                    <li>
                        <strong>
                            售后服务

                        </strong>
                    </li>
                    <li>退换货政策</li>
                    <li>如何办理退换货</li>
                </ul>
                <ul>
                    <li><strong>帮助中心</strong></li>
                    <li>常见热点问题</li>
                    <li>联系我们</li>
                    <li>投诉与建议</li>
                </ul>
            </div>
            <div class="youjian ecode">
                <div class="img"><img src="images/g_ecode.jpg" alt="" /></div>
                <div class="ecodecon">
                    <div class="ecodetop">扫描二维码 关注汉口北</div>
                    <div class="dianhua">
                        <p>客户服务电话</p>
                        <p>4000-800-900</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="yxhkdb">
                <a href="#">关于汉口北</a><a href="#">合作伙伴</a><a href="#">营销中心</a><a href="#">服务中心</a><a href="#">开放平台</a><a href="#">诚征英才</a><a href="#">联系我们</a>   <a href="#">网站地图</a>版权说明    © 2012 (中国)软件有限公司 版权所有
            </div>
            <p class="ft_bt">网络文化经营许可证：文网文[2010]040号 | 增值电信业务经营许可证：浙B2-20080224 | 信息网络传播视听节目许可证：1109364号 </p>
            <div align="center"><img src="images/ft1.jpg" width="332" height="43" /></div>
        </div>
    </div>
</body>
    
</html>
