@model BrnMall.Web.Models.CartModel
@{
    Layout = null;
}
@foreach (KeyValuePair<StoreInfo, List<OrderProductInfo>> item in Model.OrderProductList)
{
    <tr><td colspan="6" align="center"><br /></td></tr>
    <tr bgcolor="#f4f3f3"><td colspan="6" align="center" height="28">@item.Key.Name</td></tr>
    int tempFullSendPmId = 0;
    for (int i = 0; i < item.Value.Count; i++)
    {
        OrderProductInfo info = item.Value[i];
        if (info.Type == 0)
        {
            if (info.ExtCode7 > 0 && info.ExtCode7 != tempFullSendPmId)
            {
                  <tr><td colspan="6" class="fullSendPromotionTr">
                  <div style=" float:left;">活动商品已购满@{@info.ExtCode8} 元,再加@{@info.ExtCode9}元</div>
                  <div style=" float:left; margin-left:10px; position:relative;">
                  <a href="javascript:getFullSend(@info.ExtCode7)">换购商品</a>
                  <div id="fullSendBlock@{@info.ExtCode7}" class="fullSendBlock">
                  <div class="fullSendBlockTitle">请选择换购商品，数量有限，换完即止<span onclick="closeFullSendBlock(@info.ExtCode7)" class="closeFullSendBlock">关闭</span></div>
                  <div id="fullSendProductList@{@info.ExtCode7}" class="fullSendProductList"></div>
                  </div>
                  </div>
                  </td></tr>
                tempFullSendPmId = info.ExtCode7;
            }
     <tr>
        <td align="center"><img width="50px" height="50px" src="/Upload/Product/Show/Thumb30_30/@info.ShowImg"/></td>
        <td align="center">@info.Name</td>
        <td align="center">￥ @info.ShopPrice</td>
        <td align="center">@info.RealCount</td>
        <td align="center">￥@Html.Raw((info.DiscountPrice * info.BuyCount).ToString())</td>
        <td align="center"><a href="javascript:if (confirm('您确定要把该商品移出购物车吗？')) delCartProduct(@info.Pid)">删除</a></td>
     </tr>
        }
        else if (info.Type == 1)
        {
     <tr>
       <td align="left" colspan="6" style="border-width:0px;padding-left:10px;">
       <div>[赠品]:
       <a href="@Url.Action("Product", "Catalog", new RouteValueDictionary { { "pid", info.Pid } })" target="_blank">@info.Name X @info.RealCount</a>
       </div>
       </td>
     </tr>
        }
        else if (info.Type == 2)
        {
     <tr>
     <td colspan="4">
     @{
            int pmId = 0;
            int buyCount = 0;
            decimal totalPrice = 0M;
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
          @for (; i < Model.OrderProductList.Count; i++)
          {
              info = item.Value[i];
              if (info.Type == 0)
              {
                  i--;
                  break;
              }
              else if (info.Type == 2)
              {
                 <tr>
                    <td align="center" width="80"><img width="50px" height="50px" src="/Upload/Product/Show/Thumb30_30/@info.ShowImg"/></td>
                    <td align="center" >@info.Name</td>
                    <td align="center" width="120" >￥ @info.ShopPrice</td>
                    <td align="center" width="80" >￥ @info.RealCount</td>
                 </tr>
                  pmId = info.ExtCode7;
                  buyCount = info.RealCount / info.ExtCode9;
                  totalPrice += (info.ShopPrice - info.ExtCode8) * info.RealCount;
              }
              else if (info.Type == 1)
              {
                  <tr>
                    <td align="left" colspan="4" style=" border-width:0px; padding-left:10px;">
                    <div>[赠品]:
                    <a href="@Url.Action("Product", "Catalog", new RouteValueDictionary { { "pid", info.Pid } })" target="_blank">@info.Name X @info.RealCount</a>
                    </div>
                    </td>
                 </tr>
              }
          }
          </table>
       }
     </td>
       <td align="center" >￥@totalPrice</td>
       <td align="center"><a href="javascript:if (confirm('您确定要把该套装移出购物车吗？')) delCartSuit(@pmId)">删除</a></td>
     </tr>
        }
        else if (info.Type == 3)
        {
        <tr><td colspan="6" class="fullSendPromotionTr">
        <div style=" float:left;">活动商品已购满@{@info.ExtCode2} 元,您已经换购了商品</div>
        <div style=" float:left; margin-left:10px; position:relative;">
        <a href="javascript:getFullSend(@info.ExtCode1)">重新换购</a>
        <div id="fullSendBlock@{@info.ExtCode1}" class="fullSendBlock">
        <div class="fullSendBlockTitle">请选择换购商品，数量有限，换完即止<span onclick="closeFullSendBlock(@info.ExtCode1)" class="closeFullSendBlock">关闭</span></div>
        <div id="fullSendProductList@{@info.ExtCode1}" class="fullSendProductList"></div>
        </div>
        </div>
        </td></tr>
         <tr class="fullSendProductTr"><td colspan="7"  style=" line-height:26px; height:26px; padding-left:10px; background-color: #dbeefd">
         <div>[换购商品] @info.Name X 1</div>
         </td></tr>
            tempFullSendPmId = info.ExtCode1;
        }
    }
}