@model BrnMall.Web.MallAdmin.Models.BrandListModel

@section header{
<title>品牌列表</title>
<link type="text/css" rel="stylesheet" href="/Admin_Mall/Content/CSS/site.css"/>
<script type="text/javascript" src="/Admin_Mall/Scripts/jquery.js"></script>
<script type="text/javascript" src="/Admin_Mall/Scripts/showlist.js"></script>
<script type="text/javascript">
    delMessage = "如果删除此品牌则此品牌下的商品也会被删除，您确定要删除吗？";
    //显示隐藏按钮
    $(function () {
        $(".showOperate").click(function () {
            if (!confirm("您确认要显示此品牌吗？")) {
                return false;
            }
        });

        $(".hideOperate").click(function () {
            if (!confirm("您确认要隐藏此品牌吗？")) {
                return false;
            }
        });
    });
</script>
}

@section body{
<h1 class="rightH1">
品牌管理 &gt;&gt; 品牌列表
<div class="right">
<a href="@Url.Action("add")" class="menuBT"><img src="/Admin_Mall/Content/Images/add.jpg"/>添加</a>
<div class="clear"></div>
</div>
<div class="clear"></div>
</h1>
@using (Html.BeginForm("list", "brand"))
{
    
    <input type="hidden" value="@Model.SortColumn" id="sortColumn" name="sortColumn" />
    <input type="hidden" value="@Model.SortDirection" id="sortDirection" name="sortDirection" />
<div class="dataListSearch">
<table height="32">
        <tbody>
        <tr>
        <td width="35"><img id="searchImg" src="/Admin_Mall/Content/Images/search1.gif"/></td>
        <td>
          品牌名称：
        </td>
        <td width="130">
          	@Html.TextBox("BrandName", Model.BrandName, new { height = "18" })
        </td>
       <td>
       <input id="SearchBrand" name="SearchBrand" type="image" class="searchBut submit" src="/Admin_Mall/Content/Images/s.jpg" />
       </td>
      </tr>
     </tbody></table>
</div>

<div class="dataList">
<table width="100%">
<thead>
  <tr>
    <th width="40" align="center"><input type="checkbox" id="allSelect"/></th>
    <th width="100" align="left" name="sortTitle" column="brandid" direction="DESC">品牌编号</th>
    <th align="left" name="sortTitle" column="name" direction="DESC">品牌名称</th>
    <th width="100" align="left" name="sortTitle" column="isshow" direction="DESC">是否显示</th>
    <th width="80" align="left" name="sortTitle" column="displayorder" direction="ASC">排序</th>  
    <th width="130" align="left">管理操作</th>
    </tr>
</thead>
  <tbody>
  @foreach (DataRow row in Model.BrandList.Rows)
  {
  <tr>
    <td align="center"><input type="checkbox" value="@row["brandid"]" selectItem="true" name="brandId" /></td>
    <td>@row["brandid"]</td>
    <td>@row["name"]</td>
    <td>
      @if (row["isshow"].ToString() == "0")
      {
          @:隐藏 
      }
      else
      {
            @:显示
      }
    </td>
    <td>@row["displayorder"]</td>
    <td>
        @Html.ActionLink("[编辑]", "edit", new { brandId = row["brandid"] }, new { @class = "editOperate" })
            @{
      if (row["isshow"].ToString() == "0")
      {
        @Html.ActionLink("[显示]", "show", new { brandId = row["brandid"] }, new { @class = "editOperate showOperate" })
      }
      else
      {
        @Html.ActionLink("[隐藏]", "hide", new { brandId = row["brandid"] }, new { @class = "editOperate hideOperate" })
      }
        }
        @Html.ActionLink("[删除]", "del", new { brandId = row["brandid"] }, new { @class = "deleteOperate" })
    </td>
    </tr>
  }
</tbody>
</table>
</div>
<div class="dataListEdit">
<div class="page">
    @Html.MallAdminPager(Model.PageModel)
</div>
</div>
}
}