@model BrnMall.Web.MallAdmin.Models.AddSKUModel

@section header{
    <title>添加SKU商品</title>
    <link type="text/css" rel="stylesheet" href="/Admin_Mall/Content/CSS/site.css"/>
    <script type="text/javascript" src="/Admin_Mall/Scripts/jquery.js"></script>
    <link type="text/css" href="/Admin_Mall/Content/UEditor/themes/default/css/ueditor.css" rel="stylesheet" />
    <script type="text/javascript" src="/Admin_Mall/Content/UEditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/Admin_Mall/Content/UEditor/ueditor.all.js"></script>
    <script type="text/javascript" src="/Admin_Mall/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="/Admin_Mall/Scripts/jquery.validate.unobtrusive.js"></script>
    <link type="text/css" href="/Admin_Mall/Content/JBox/Skins/Default/jbox.css" rel="stylesheet" />
    <script type="text/javascript" src="/Admin_Mall/Content/JBox/jquery.jBox-2.3.min.js"></script>
    <script type="text/javascript" src="/Admin_Mall/Scripts/selectlist.js"></script>
    <script type="text/javascript" src="/Admin_Mall/Scripts/product.js"></script>
    <script type="text/javascript">
        productPageType = 3;
    </script>
}
@section body{
    <h1 class="rightH1">
        商品管理 &gt;&gt; 添加商品
        <div class="right">
            <a href="@Html.Raw(ViewData["referer"].ToString())" class="menuBT">
                <img src="/Admin_Mall/Content/Images/goBack.jpg" />返回列表</a>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </h1>
    <ul class="addTag">
        <li class="hot"><a href="javascript:;">基本信息</a></li>
        <li><a href="javascript:;">商品规格</a></li>
        <li><a href="javascript:;">辅助信息</a></li>
        <li><a href="javascript:;">详细描述</a></li>
        <div class="clear">
        </div>
    </ul>
    @using (Html.BeginForm())
    {
        <div class="addTable">
            <table width="100%">
                <tr>
                    <td width="94px" align="right">
                        商品名称：
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.ProductName, new { @class = "input", size = "80" })
                        @Html.ValidationMessageFor(x => x.ProductName)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        商品分类：
                    </td>
                    <td>
                        <div class="selectBt" style="float: left;">
                            <input type="button" value="@Model.CategoryName" onclick="openCategorySelectLayer(this)" />
                            <input type="hidden" class="CateId" id="CateId" name="CateId" value="@Model.CateId" />
                            <input type="hidden" class="CategoryName" id="CategoryName" name="CategoryName" value="@Model.CategoryName" />
                        </div>
                        @Html.ValidationMessageFor(x => x.CateId)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        商品品牌：
                    </td>
                    <td>
                        <div class="selectBt">
                            <input type="button" value="@Model.BrandName" onclick="openBrandSelectLayer(this)" />
                            <input type="hidden" class="BrandId" id="BrandId" name="BrandId" value="@Model.BrandId" />
                            <input type="hidden" class="BrandName" id="BrandName" name="BrandName" value="@Model.BrandName"/>
                        </div>
                        @Html.ValidationMessageFor(x => x.BrandId)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        商品店铺：
                    </td>
                    <td>
                        <div class="selectBt">
                            <input type="button" value="@Model.StoreName" onclick="openStoreSelectLayer(this)" />
                            <input type="hidden" class="StoreId" id="StoreId" name="StoreId" value="@Model.StoreId" />
                            <input type="hidden" class="StoreName" id="StoreName" name="StoreName" value="@Model.StoreName" />
                        </div>
                        @Html.ValidationMessageFor(x => x.StoreId)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        店铺分类：
                    </td>
                    <td>
                    <select id="StoreCid" name="StoreCid" disabled="disabled">
                    <option value="-1" selected="selected">选择店铺分类</option>
                    </select>
                    <input type="hidden" value="@Model.StoreCid" id="hiddenStoreCid"/>
                    @Html.ValidationMessageFor(x => x.StoreCid)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        配送模板：
                    </td>
                    <td>
                    <select id="StoreSTid" name="StoreSTid" disabled="disabled">
                    <option value="-1" selected="selected">选择配送模板</option>
                    </select>
                    <input type="hidden" value="@Model.StoreSTid" id="hiddenStoreSTid"/>
                    @Html.ValidationMessageFor(x => x.StoreSTid)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        成本价：
                    </td>
                    <td>@Html.TextBoxFor(x => x.CostPrice, new { @class = "input", size = "10" })元 @Html.ValidationMessageFor(x => x.CostPrice)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        市场价：
                    </td>
                    <td>@Html.TextBoxFor(x => x.MarketPrice, new { @class = "input", size = "10" })元
                        @Html.ValidationMessageFor(x => x.MarketPrice)
                    </td>
                </tr>
                 <tr>
                    <td align="right">
                        本店价：
                    </td>
                    <td>@Html.TextBoxFor(x => x.ShopPrice, new { @class = "input", size = "10" })元 @Html.ValidationMessageFor(x => x.ShopPrice)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        &nbsp;
                    </td>
                    <td>
                        <a href="" class="addBt submit">
                            <img src="/Admin_Mall/Content/Images/submit.jpg" /></a>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>

        <div class="addTable hide">
            <table width="100%" id="skuTable">
                <tr>
                    <td width="110px;" align="right">请先选择分类</td>
                    <td></td>
                </tr>
                <tr id="addSkuBut" class="keepTr">
                    <td align="right">
                        &nbsp;
                    </td>
                    <td>
                        <a href="" class="addBt submit">
                            <img src="/Admin_Mall/Content/Images/submit.jpg" /></a>
                    </td>
                </tr>
                <tr class="keepTr">
                    <td align="right">
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="addTable hide">
            <table width="100%">
                <tr>
                    <td width="80px" align="right">
                        重量：
                    </td>
                    <td>@Html.TextBoxFor(x => x.Weight, new { @class = "input", size = "10" })克
                        @Html.ValidationMessageFor(x => x.Weight)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        排序：
                    </td>
                    <td>@Html.TextBoxFor(x => x.DisplayOrder, new { @class = "input", size = "10" })
                        @Html.ValidationMessageFor(x => x.DisplayOrder)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        是否上架：
                    </td>
                    <td>
                        <p>
                            <label>
                                <input type="radio" disabled="disabled" checked="checked" value="0" />否</label>
                            <br />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        商品标签：
                    </td>
                    <td>
                        <p>
                            <label>@Html.CheckBoxFor(x => x.IsHot, new { @class = "checkbox" })热销</label>
                            <label>@Html.CheckBoxFor(x => x.IsBest, new { @class = "checkbox" })精品</label>
                            <label>@Html.CheckBoxFor(x => x.IsNew, new { @class = "checkbox" })新品</label>
                            <br />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        &nbsp;
                    </td>
                    <td>
                        <a href="" class="addBt submit">
                            <img src="/Admin_Mall/Content/Images/submit.jpg" /></a>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>
    
        <div class="addTable hide">
            <table width="100%">
                <tr>
                    <td width="0px" align="right">
                        <div style="margin-left: 15px;">
                        </div>
                    </td>
                    <td>
                        <div style="margin-top: 5px;">
                        </div>
                        <textarea name="Description" id="bspEditor">@Model.Description</textarea>
                        <script type="text/javascript">
                            UE.getEditor('bspEditor', {
                                initialFrameWidth: 1160,
                                imageUrl: "/MallAdmin/Tool/UploadProductEditorImage",
                                fileUrl: "/MallAdmin/Tool/UplaodProductEditorFile"
                            });
                        </script>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        &nbsp;
                    </td>
                    <td>
                        <a href="" class="addBt submit">
                            <img src="/Admin_Mall/Content/Images/submit.jpg" /></a>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>
    }
}
