<!DOCTYPE html>  
<html>  
<head>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@{@WorkContext.MallConfig.SiteTitle}</title>
    <meta name="keywords" content="@WorkContext.MallConfig.SEOKeyword" />
    <meta name="description" content="@WorkContext.MallConfig.SEODescription" />
    <link href="@{@WorkContext.CSSDir}/css/in.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSDir}/css/g_222.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSDir}/css/g_css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@{@WorkContext.ScriptDir}/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="@{@WorkContext.ScriptDir}/js/common.js"></script>
    <script type="text/javascript" language="javascript" src="@{@WorkContext.ScriptDir}/js/jquery.min.1.7.1.js"></script>
    <script type="text/javascript" language="javascript" src="@{@WorkContext.ScriptDir}/js/ljs.js"></script>
    <script src="@{@WorkContext.ScriptDir}/Scripts/MSClass.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptDir}/Scripts/common.js" type="text/javascript"></script>
    @RenderSection("Head", required: true)@*View页面自定义特定js/css使用*@  
</head>  
  
<body>  
    @RenderPage("~/Views/Shared/_Header.cshtml")  
    @RenderBody()
    @RenderPage("~/Views/Shared/_Footer.cshtml")  
</body>  
</html>  