@model BrnMall.Core.PartUserInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
}
<div id="warp">
    <div class="autohei">
        <div align="center">
            <img src="../images/grzx_t.jpg" width="998" height="34" />
        </div>
        <div class="blank"></div>
        <div class="autohei">
            <div class="bz_zn1 left">
                <div class="bz_szxi b">
                    <h3>> 我的交易</h3>
                    <ul>
                        <li><a href="@Url.Action("../Cart")" target="_blank">·我的购物车</a></li>
                        <li><a href="@Url.Action("OrderList")">·我的订单</a></li>
                        <li><a href="@Url.Action("PayCreditLogList")">·我的@{@WorkContext.PayCreditName}</a></li>
                    </ul>
                    <h3>> 收藏夹</h3>
                    <ul>
                        <li><a href="@Url.Action("FavoriteProductList")">·商品收藏</a></li>
                        <li><a href="@Url.Action("FavoriteStoreList")">·店铺收藏</a></li>
                    </ul>
                    <h3 class="red">> 个人设置</h3>
                    <ul>
                        <li class="red"><a href="@Url.Action("SafeInfo")">·账户安全</a></li>
                        <li><a href="@Url.Action("UserInfo")">·个人信息</a></li>
                        <li><a href="@Url.Action("ShipAddressList")">·收货地址</a></li>
                        <li><a href="@Url.Action("CouponList")">·优惠卷</a></li>
                    </ul>
                    <h3>> 站内消息</h3>
                    <ul>
                        <li><a href="sjx.html">·收件箱</a></li>
                        <li><a href="@Url.Action("ProductReviewList")">·购买咨询</a></li>
                        <li><a href="@Url.Action("ProductConsultList")">·商品评价</a></li>
                        <li><a href="fsxx.html">·给管理员发送消息</a></li>
                    </ul>
                </div>
            </div>
            <div class="bz_keen right">
                <div class="grxixn b">
                    <div class="ninhao">
                        <p>您好：<span class="red">qingfeng</span>，欢迎进入用户中心，您目前购物车有 <span class="red2">4</span> 款产品未购买，<span class="red2">5</span> 笔订单正在进行中。</p>
                    </div>

                    <div class="xixzhil">
                        <h2>账户安全</h2>
                    </div>
                    <div class="blank"></div>
                    <div class="autohei b">
                        <div class="sninnt">
                            <ul>
                                <li>
                                    <span class="sj">登录密码</span> <span class="bt red2">建议您定期更改密码以保护账户安全。</span><span><a href="@Url.Action("SafeVerify", new RouteValueDictionary { { "act", "updatePassword" } })">修改</a></span>
                                </li>
                                <li>
                                    <span class="sj">用户邮箱</span> <span class="bt red2">可用于快速找回登录密码等操作。</span><span>
                                        <a href="@Url.Action("SafeVerify", new RouteValueDictionary { { "act", "updateEmail" } })" style=" cursor:pointer; text-decoration:none;">
                                            @if (Model.Email.Length > 0)
                                            {
                                                if (Model.VerifyEmail == 0)
                                                {
                                                @:验证
                                                    }
                                                else
                                                {
                                                @:修改
                                                    }
                                            }
                                            else
                                            {
                                                @:绑定
                                                }
                                        </a>
                                    </span>
                                </li>
                                <li>
                                    <span class="sj">用户手机</span> <span class="bt red2">可用于快速找回登录密码等操作。</span><span>
                                        <a href="@Url.Action("SafeVerify", new RouteValueDictionary { { "act", "updateMobile" } })" style=" cursor:pointer; text-decoration:none;">
                                        @if (Model.Mobile.Length > 0)
                                        {
                                            if (Model.VerifyMobile == 0)
                                            {
                                            @:验证
                                                }
                                            else
                                            {
                                            @:修改
                                                }
                                        }
                                        else
                                        {
                                            @:绑定
                                            }
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
