@model BrnMall.Web.Models.ShipAddressListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script src="@{@WorkContext.ScriptDir}/Scripts/region.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptDir}/Scripts/ucenter.user.js" type="text/javascript"></script>
}
<div id="warp">
    <div class="autohei">
        <div align="center">
            <img src="../images/grzx_t.jpg" width="998" height="34" />
        </div>
        <div class="blank"></div>
        <div class="autohei">
            <div class="bz_zn1 left">
                <div class="bz_szxi b">
                    <h3>> 我的交易</h3>
                    <ul>
                        <li><a href="@Url.Action("../Cart")" target="_blank">·我的购物车</a></li>
                        <li><a href="@Url.Action("OrderList")">·我的订单</a></li>
                        <li><a href="@Url.Action("PayCreditLogList")">·我的@{@WorkContext.PayCreditName}</a></li>
                    </ul>
                    <h3>> 收藏夹</h3>
                    <ul>
                        <li><a href="@Url.Action("FavoriteProductList")">·商品收藏</a></li>
                        <li><a href="@Url.Action("FavoriteStoreList")">·店铺收藏</a></li>
                    </ul>
                    <h3 class="red">> 个人设置</h3>
                    <ul>
                        <li><a href="@Url.Action("SafeInfo")">·账户安全</a></li>
                        <li><a href="@Url.Action("UserInfo")">·个人信息</a></li>
                        <li  class="red"><a href="@Url.Action("ShipAddressList")">·收货地址</a></li>
                        <li><a href="@Url.Action("CouponList")">·优惠卷</a></li>
                    </ul>
                    <h3>> 站内消息</h3>
                    <ul>
                        <li><a href="sjx.html">·收件箱</a></li>
                        <li><a href="@Url.Action("ProductReviewList")">·购买咨询</a></li>
                        <li><a href="@Url.Action("ProductConsultList")">·商品评价</a></li>
                        <li><a href="fsxx.html">·给管理员发送消息</a></li>
                    </ul>
                </div>
            </div>
            <div class="bz_keen right">
                <div class="grxixn b">
                    <div class="ninhao">
                        <p>您好：<span class="red">qingfeng</span>，欢迎进入用户中心，您目前购物车有 <span class="red2">4</span> 款产品未购买，<span class="red2">5</span> 笔订单正在进行中。</p>
                    </div>

                    <div class="xixzhil">
                        <h2>收货地址</h2>
                    </div>
                    <div class="xi_xqing b autohei">
                        <form name="shipAddressForm" action="">
                            <input type="hidden" name="saId" value="" />
                            <div class="xhtianjia">
                                <p><strong class="red">> 添加新收货地址</strong> （电话号码、手机号选填一项,其余均为必填项）</p>
                                <span>
                                    <a id="addShipAddressBut" href="javascript:addShipAddress()">
                                        <img src="../images/grxx_t2.png" width="44" height="21" /></a>
                                    <a id="editShipAddressBut" href="javascript:editShipAddress()" style="display: none;">
                                        <img src="../Images/tijiao3.jpg" width="44" height="21" /></a>
                                </span>
                            </div>
                            <div id="shipAddressBlock" class="ximriqi">
                                <ul>
                                    <li><strong>昵称:</strong>
                                        <input type="text" name="alias" value="" class="xm1" /><span class="red">*</span></li>
                                    <li><strong>收货人:</strong>
                                        <input type="text" name="consignee" value="" class="xm1" /><span class="red">*</span></li>
                                    <li><strong>联系地址:</strong>
                                        <select id="provinceId" name="provinceId">
                                            <option selected="selected" value="-1">请选择</option>
                                        </select>
                                        <select id="cityId" name="cityId">
                                            <option selected="selected" value="-1">请选择</option>
                                        </select>
                                        <select id="regionId" name="regionId">
                                            <option selected="selected" value="-1">请选择</option>
                                        </select>
                                    </li>
                                    <li><strong>&nbsp;</strong>
                                        <input type="text" name="address" value="" /><span class="red">*</span></li>
                                    <li><strong>移动电话: </strong>
                                        <input type="text" name="mobile" value="" class="xm1" /><span class="red">*</span></li>
                                    <li><strong>固定电话: </strong>
                                        <input type="text" name="phone" value="" class="xm1" /></li>
                                    <li><strong>电子邮件:</strong>
                                        <input type="text" name="email" value="" class="xm1" /></li>
                                    <li><strong>邮编:</strong>
                                        <input type="text" name="zipcode" value="" class="xm1" /></li>
                                    <li><strong>默认地址</strong><input type="checkbox" name="isDefault" checked="checked" /></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="shoudozhi autohei">
                        <h3 class="red"><strong>> 已保存的有效的收货地址</strong></h3>
                        @foreach (FullShipAddressInfo info in Model.ShipAddressList)
                        {
                            <ul id="getClass">
                                @if (info.IsDefault == 0)
                                {
                                    <li id="shipAddress@{@info.SAId}">
                                        <h4 class="red2">@info.Alias</h4>
                                        <p>
                                            地址： @info.ProvinceName@info.CityName@info.CountyName@info.Address
                                            <br />
                                            @info.Consignee（收） 手机：@info.Mobile&nbsp电话：@info.Phone
                                            电子邮箱： @info.Email &nbsp 邮编：@info.ZipCode
                                        </p>
                                        <div class="moxiug">
                                            <span><a href="javascript:void(0)" onclick="openEditShipAddressBlock(@info.SAId)">修改</a>|<a href="javascript:void(0)" onclick="delShipAddress(@info.SAId)">删除</a> </span>
                                            <a href="javascript:void(0)" id="" onclick="setDefaultShipAddress(@info.SAId,this)">设为默认</a>
                                        </div>
                                    </li>                                
                                }
                                else
                                {
                                    <li class="hover" id="shipAddress@{@info.SAId}">
                                        <h4 class="red2">@info.Alias</h4>
                                        <p>
                                            地址： @info.ProvinceName@info.CityName@info.CountyName@info.Address
                                            <br />
                                            @info.Consignee（收） 手机：@info.Mobile&nbsp电话：@info.Phone
                                            电子邮箱： @info.Email &nbsp 邮编：@info.ZipCode
                                        </p>
                                        <div class="moxiug">
                                            <span><a href="javascript:void(0)" onclick="openEditShipAddressBlock(@info.SAId)">修改</a>|<a href="javascript:void(0)" onclick="delShipAddress(@info.SAId)">删除</a> </span>
                                            <a href="javascript:void(0)" id="defaultShipAddress" onclick="setDefaultShipAddress(@info.SAId,this)" style=" display:none;">设为默认</a>
                                        </div>
                                    </li>  
                                }
                            </ul>
                        }
                        <div align="left" style="padding-top: 20px;">最多保存10个有效地址</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    //绑定省列表的改变事件
    Event.addHandler(document.getElementById("provinceId"), "change", function (event) {
        var selectedProvinceId = getSelectedOption(this).value;
        if (selectedProvinceId > 0) {
            document.getElementById("regionId").innerHTML = "<option value='-1'>请选择</option>";
            bindCityList(selectedProvinceId, document.getElementById("cityId"));
        }
    })


    //绑定市列表的改变事件
    Event.addHandler(document.getElementById("cityId"), "change", function (event) {
        var selectedCityId = getSelectedOption(this).value;
        if (selectedCityId > 0) {
            bindCityList(selectedCityId, document.getElementById("regionId"));
        }
    })

    //绑定省列表
    bindProvinceList(document.getElementById("provinceId"), provinceId);

    if (cityId > 0) {
        bindCityList(provinceId, document.getElementById("cityId"), cityId);
        bindCountyList(cityId, document.getElementById("regionId"), countyId);
    }
</script>

