@model BrnMall.Web.Models.UserInfoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script src="@{@WorkContext.ScriptDir}/Scripts/utils.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptDir}/Scripts/region.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptDir}/Scripts/ucenter.user.js" type="text/javascript"></script>
    <script type="text/javascript">
        provinceId = @ViewData["provinceId"]; //省id
        cityId = @ViewData["cityId"]; //市id
        countyId = @ViewData["countyId"]; //县或区id
    </script>
}

<div id="warp">
    <div class="autohei">
        <div align="center">
            <img src="../images/grzx_t.jpg" width="998" height="34" /></div>
        <div class="blank"></div>
        <div class="autohei">
            <div class="bz_zn1 left">
                <div class="bz_szxi b">
                    <h3>> 我的交易</h3>
                    <ul>
                        <li><a href="@Url.Action("../Cart")" target="_blank">·我的购物车</a></li>
                        <li><a href="@Url.Action("OrderList")">·我的订单</a></li>
                        <li><a href="@Url.Action("PayCreditLogList")">·我的@{@WorkContext.PayCreditName}</a></li>
                    </ul>
                    <h3>> 收藏夹</h3>
                    <ul>
                        <li><a href="@Url.Action("FavoriteProductList")">·商品收藏</a></li>
                        <li><a href="@Url.Action("FavoriteStoreList")">·店铺收藏</a></li>
                    </ul>
                    <h3 class="red">> 个人设置</h3>
                    <ul>
                        <li><a href="@Url.Action("SafeInfo")">·账户安全</a></li>
                        <li class="red"><a href="@Url.Action("UserInfo")">·个人信息</a></li>
                        <li><a href="@Url.Action("ShipAddressList")">·收货地址</a></li>
                        <li><a href="@Url.Action("CouponList")">·优惠卷</a></li>
                    </ul>
                    <h3>> 站内消息</h3>
                    <ul>
                        <li><a href="sjx.html">·收件箱</a></li>
                        <li><a href="@Url.Action("ProductReviewList")">·购买咨询</a></li>
                        <li><a href="@Url.Action("ProductConsultList")">·商品评价</a></li>
                        <li><a href="fsxx.html">·给管理员发送消息</a></li>
                    </ul>
                </div>
            </div>
            <div class="bz_keen right">
                <div class="grxixn b">
                    <div class="ninhao">
                        <p>您好：<span class="red">qingfeng</span>，欢迎进入用户中心，您目前购物车有 <span class="red2">4</span> 款产品未购买，<span class="red2">5</span> 笔订单正在进行中。</p>
                    </div>
                    <div class="xixzhil">
                        <h2>用户信息</h2>
                    </div>
                    <div class="xi_xqing b autohei">
                        <form name="userInfoForm" action="">
                            <div class="ximriqi">
                                <ul>
                                    <li><strong>用户名:</strong>
                                        @if (Model.UserInfo.UserName.Length > 0)
                                        {
                                            @Model.UserInfo.UserName
                                        }
                                        else
                                        {
                                            <input type="text" name="userName" value="" />
                                        } &nbsp;&nbsp;&nbsp;@Model.UserRankInfo.Title</li>
                                    <li><strong>昵称:</strong>
                                        <input type="text" name="nickName" value="@Model.UserInfo.NickName" class="xm1"/>
                                        <span class="red">*</span></li>
                                    <li><strong>真实姓名: </strong>
                                        <input type="text" name="realName" value="@Model.UserInfo.RealName" class="xm1"/></li>
                                    <li><strong>性别:</strong>
                                        <input type="radio" name="gender" value="1" @{if (Model.UserInfo.Gender == 1)
                                                                                    {<text>checked="checked"</text>}}/>男
                                        <input type="radio" name="gender" value="2" @{if (Model.UserInfo.Gender == 2)
                                                                                    {<text>checked="checked"</text>}}/>女
                                        <input type="radio" name="gender" value="0" @{if (Model.UserInfo.Gender == 0)
                                                                                    {<text>checked="checked"</text>}}/>未知
                                    </li>
                                    <li><strong>身份证号码:</strong><input type="text" name="idCard" value="@Model.UserInfo.IdCard" class="xm1"/></li>
                                    <li><strong>出生日期: </strong><input type="text" name="bday" value="@Model.UserInfo.Bday.ToString("yyyy-MM-dd")" /></li>
                                </ul>
                            </div>
                            <div class="ximriqi bjys">
                                <ul>
                                                             <li><strong>所在区域: </strong>
                               <select id="provinceId" name="provinceId">
                                <option selected="selected" value="-1">请选择</option>
                                </select>
                                <select id="cityId" name="cityId">
                                <option selected="selected" value="-1">请选择</option>
                                </select>
                                <select id="regionId" name="regionId">
                                <option selected="selected" value="-1">请选择</option>
                                </select>
                            </li> 
                                    <li><strong>联系地址:</strong>
                                        <input name="address" type="text" class="dk1"  value="@Model.UserInfo.Address"/></li>
                                    <li><strong>简介: </strong>
                                        <textarea rows="5" cols="40" name="bio" style="width: 500px;">@Model.UserInfo.Bio</textarea></li>
                                </ul>
                            </div>
                            <div align="center" style="padding: 20px 0;"><a href="#" onclick="editUser()">
                                <img src="../images/dz_a3.jpg" width="69" height="28" /></a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right boxRight">
    <div class="bilB ucenterList">
        <form name="userInfoForm" action="">
            <table width="100%">
                <thead>
                    <tr bgcolor="#f4f3f3">
                        <td colspan="2">用户信息</td>
                    </tr>
                </thead>
                <tbody>


 


                    <tr>
                        <td colspan="2" align="center" bgcolor="#FFFFFF">
                          
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    //绑定省列表的改变事件
    Event.addHandler(document.getElementById("provinceId"), "change", function (event) {
        var selectedProvinceId = getSelectedOption(this).value;
        if (selectedProvinceId > 0) {
            document.getElementById("regionId").innerHTML = "<option value='-1'>请选择</option>";
            bindCityList(selectedProvinceId, document.getElementById("cityId"));
        }
    })


    //绑定市列表的改变事件
    Event.addHandler(document.getElementById("cityId"), "change", function (event) {
        var selectedCityId = getSelectedOption(this).value;
        if (selectedCityId > 0) {
            bindCityList(selectedCityId, document.getElementById("regionId"));
        }
    })

    //绑定省列表
    bindProvinceList(document.getElementById("provinceId"), provinceId);

    if (cityId > 0) {
        bindCityList(provinceId, document.getElementById("cityId"), cityId);
        bindCountyList(cityId, document.getElementById("regionId"), countyId);
    }
</script>
@WorkContext.MallConfig.Script
</body>
</html>
