@model BrnMall.Web.Models.ProductModel
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Model.ProductInfo.Name-@{@WorkContext.MallConfig.SiteTitle}</title>
    @WorkContext.MallConfig.SEOKeyword
    @WorkContext.MallConfig.SEODescription
    <link href="@{@WorkContext.CSSDir}/CSS/all.css" rel="stylesheet" type="text/css" />
    <script src="@{@WorkContext.ScriptDir}/Scripts/utils.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptDir}/Scripts/common.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptDir}/Scripts/product.js" type="text/javascript"></script>
    <script type="text/javascript">
        uid = @WorkContext.Uid;
        pid = @Model.Pid;
        isGuestSC = @WorkContext.MallConfig.IsGuestSC;
        scSubmitType = @WorkContext.MallConfig.SCSubmitType;
    </script>
</head>
<body id="body">
    <div id="topInfo">
        <div class="box">
            <div class="left">您好,欢迎访问 @WorkContext.MallConfig.MallName</div>
            <div class="right">
            @if (WorkContext.Uid < 1)
            {
                <a href="@Url.Action("Login", "Account", new RouteValueDictionary { { "returnUrl", WorkContext.Url } })" class="A_b">[登录]</a>
                <a href="@Url.Action("Register", "Account")" class="A_b">[注册]</a>
            }
            else
            {
                 @:您好 @WorkContext.NickName 
                <a href="@Url.Action("Logout", "Account")" class="A_b">[退出]</a>
                if (WorkContext.PartUserInfo.StoreId > 1)
                {
                <a href="@Url.Action("Index", "Home", new RouteValueDictionary { { "area", "StoreAdmin" } })" class="A_b">[店铺管理]</a>
                }
                if (WorkContext.MallAGid > 1)
                {
                <a href="@Url.Action("Index", "Home", new RouteValueDictionary { { "area", "MallAdmin" } })" class="A_b">[商城管理]</a>
                }
                <a href="@Url.Action("OrderList", "UCenter")" class="A_b">[我的订单]</a>
            }
            <a href="@Url.Action("Index", "Cart")" class="A_b">[购物车(@WorkContext.CartProductCount)]</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="bigBox">
        <div class="box" id="header">
            <a href="#" id="logo" class="left"><img src="@{@WorkContext.ImageDir}/Images/logo.jpg" /></a>
            <div id="search" class="right">
                <input type="text" id="keyword" name="keyword" autocomplete="off" onkeydown="javascript:if(event.keyCode==13) mallSearch(document.getElementById('keyword').value);" value="@WorkContext.SearchWord" />
                <input type="image" src="@{@WorkContext.ImageDir}/Images/searchBT.jpg" class="bt_b" onclick="mallSearch(document.getElementById('keyword').value)" />
                <div class="clear">
            </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bigBox" id="nav">
        <ul class="box">
            @foreach (NavInfo info in WorkContext.NavList)
            {
            <li><a href="@info.Url">@info.Name</a></li>
            }
            <div class="clear"></div>
        </ul>
    </div>
    <div class="box" id="content">
        <div class="left boxLeft">
            <div class="bilBox">
                <h2>
                    商品分类</h2>
                <div class="bilCon">
                    <ul class="menu">
                    @foreach (CategoryInfo info in Categories.GetCategoryList())
                    {
                        <li><a href="@Url.Action("Category", "Catalog", new RouteValueDictionary { { "cateId", info.CateId } })">@info.Name</a></li>
                    }
                    </ul>
                </div>
            </div>
          <div class="bilBox">
                <h2>商品相册</h2>
                <div class="bilCon">
                    <ul class="tuiList">
                        @foreach (ProductImageInfo info in Model.ProductImageList)
                        {
                            <li style=" text-align:center;"><img width="100px" height="80px" src="/Upload/Product/Show/Thumb165_210/@info.ShowImg"/></li>
                        }
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            <div class="bilBox">
                <h2>关联商品</h2>
                <div class="bilCon">
                    <ul class="tuiList">
                    @foreach (PartProductInfo info in Model.RelateProductList)
                    {
                        <li>
                            <a href="@Url.Action("Product", new RouteValueDictionary { { "pid", info.Pid } })"><img src="/Upload/Product/Show/Thumb165_210/@info.ShowImg" width="60" height="72" /></a>
                            <a href="@Url.Action("Product", new RouteValueDictionary { { "pid", info.Pid } })" class="storeInfo"><em>@info.Name</em><span>￥<font>@info.ShopPrice</font>元</span></a>
                        </li>
                    }
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            <div class="bilBox">
                <h2>浏览历史</h2>
                <div class="bilCon">
                    <ul class="tuiList">
                    @foreach (PartProductInfo info in Model.UserBrowseHistory)
                    {
                        <li>
                            <a href="@Url.Action("Product", new RouteValueDictionary { { "pid", info.Pid } })"><img src="/Upload/Product/Show/Thumb165_210/@info.ShowImg" width="60" height="72" /></a>
                            <a href="@Url.Action("Product", new RouteValueDictionary { { "pid", info.Pid } })" class="storeInfo"><em>@info.Name</em><span>￥<font>@info.ShopPrice</font>元</span></a>
                        </li>
                    }
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right boxRight">
            <div class="storeCon bilB">
                <div class="storeImg left">
                    <img src="/Upload/Product/Show/Thumb380_310/@Model.ProductInfo.ShowImg" width="250" height="308" /></div>
                <div class="storeConInfo right">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <th colspan="2" align="left">
                                @Model.ProductInfo.Name
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2" align="left" style=" color:Red;">
                                @Model.Slogan
                            </th>
                        </tr>
                        <tr>
                            <td width="80" height="30">
                                商品编号：
                            </td>
                            <td>
                                @Model.ProductInfo.PSN
                            </td>
                        </tr>
                        <tr>
                            <td width="80" height="30">
                                所属店铺：
                            </td>
                            <td>
                                <a href="@Url.Action("Index", "Store", new RouteValueDictionary { { "storeId", Model.StoreInfo.StoreId }})">@Model.StoreInfo.Name</a>
                            </td>
                        </tr>
                        <tr>
                            <td height="30">
                                市场价格：
                            </td>
                            <td>
                                ￥@Model.ProductInfo.MarketPrice 元
                            </td>
                        </tr>
                        <tr>
                            <td height="30">
                                本店售价：
                            </td>
                            <td>
                                ￥@Model.ProductInfo.ShopPrice 元
                            </td>
                        </tr>
                        <tr>
                            <td height="30">
                                折扣价：
                            </td>
                            <td>
                                ￥@Model.DiscountPrice 元
                            </td>
                        </tr>
                       @if (Model.GiftList != null && Model.GiftList.Rows.Count > 0)
                       {
                         <tr>
                            <td>赠　　品：</td>
                            <td>
                                @foreach (DataRow row in Model.GiftList.Rows)
                                {
                                    @row["name"] @:X  @row["number"] <br />
                                }
                            </td>
                        </tr>
                       }
                        @if (!String.IsNullOrEmpty(Model.PromotionMsg))
                        {
                        <tr>
                            <td >
                                促销信息：
                            </td>
                            <td style=" color:Red;">
                                @Html.Raw(Model.PromotionMsg)
                            <br />
                            </td>
                        </tr>
                        }
                       @if (Model.ProductSKUList != null && Model.ProductSKUList.Count > 0)
                       {
                           int attrLayer = 0;
                           List<ExtProductSKUItemInfo> currentProductSKUItemList = Model.ProductSKUList.FindAll(x => x.Pid == Model.Pid);
                           List<KeyValuePair<string, int>> skuProductList = new List<KeyValuePair<string, int>>();
                           foreach (IGrouping<int, ExtProductSKUItemInfo> info in Model.ProductSKUList.GroupBy(x => x.Pid, x => x))
                           {
                               string attrValueIdKey = "";
                               foreach (var item in info)
                               {
                                   attrValueIdKey += item.AttrValueId + "_";
                               }
                               skuProductList.Add(new KeyValuePair<string, int>(attrValueIdKey, info.Key));
                           }
                           List<ExtProductSKUItemInfo> attrList = new List<ExtProductSKUItemInfo>();
                           foreach (ExtProductSKUItemInfo info in Model.ProductSKUList)
                           {
                               if (attrList.Find(x => x.AttrId == info.AttrId) == null)
                               {
                                   attrList.Add(info);
                               }
                           }
                           foreach (ExtProductSKUItemInfo info in attrList)
                           {
                                @:<tr class="sku"><td>@info.AttrName：</td><td>

                               List<ExtProductSKUItemInfo> attrValueList = new List<ExtProductSKUItemInfo>();
                               foreach (ExtProductSKUItemInfo attrValue in Model.ProductSKUList)
                               {
                                   if (attrValue.AttrId == info.AttrId && attrValueList.Find(x => x.AttrValueId == attrValue.AttrValueId) == null)
                                   {
                                       attrValueList.Add(attrValue);
                                   }
                               }

                               foreach (ExtProductSKUItemInfo attrValue in attrValueList)
                               {
                                   string attrValueIdKey = "";
                                   for (int i = 0; i < currentProductSKUItemList.Count; i++)
                                   {
                                       if (attrLayer != i)
                                       {
                                           attrValueIdKey += currentProductSKUItemList[i].AttrValueId + "_";
                                       }
                                       else
                                       {
                                           attrValueIdKey += attrValue.AttrValueId + "_";
                                       }
                                   }
                                   KeyValuePair<string, int> skuProduct = skuProductList.Find(x => x.Key == attrValueIdKey);
                                   if (skuProduct.Value < 1)
                                   {
                                    <div><a href="">@if (attrValue.IsInput == 0)
                                                    { @attrValue.AttrValue }
                                                    else
                                                    { @attrValue.InputValue }</a></div>
                                   }
                                   else
                                   {
                                    <div @if (skuProduct.Value == Model.Pid)
                                         { <text>class="selected"</text> }><a href="@Url.Action("Product", new RouteValueDictionary { { "pid", skuProduct.Value } })">@if (attrValue.IsInput == 0)
                                                                                                                                                                                                        { @attrValue.AttrValue }
                                                                                                                                                                                                        else
                                                                                                                                                                                                        { @attrValue.InputValue }</a></div>
                                   }
                               }
                                @:<b class="clear"></b></td></tr>
                                attrLayer++;
                           }
                       }
                        <tr>
                            <td height="30">
                                购买数量：
                            </td>
                            <td>
                                <input type="text" id="buyCount" name="buyCount" value="1" size="3" style=" background:#f4fafe; height:18px; text-align:center;"/>
                            </td>
                        </tr>
                        <tr>
                            <td height="50" colspan="2">
                                <a href="javascript:addProductToFavorite(@Model.Pid)" class="bt_w">加入收藏</a>
                                <a href="javascript:addProductToCart(@Model.Pid, document.getElementById('buyCount').value)" class="bt_b">加入购物车</a><div class="clear">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="bilB1" id="storeCon">
                <div class="bilB1Title">
                    <a href="javascript:setTab(1)" id="tab1" class="hot">详细信息</a> 
                    <a href="javascript:setTab(2)" id="tab2">商品属性</a>
                    <div class="clear">
                    </div>
                </div>
                <div id="productDetails" class="bilB1Con bilB show">
                   @Html.Raw(Model.ProductInfo.Description)
                </div>
                <div id="productAttr" class="bilB1Con bilB">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="storeTable">
                    @{
                        int tempAttrGroupId = 0;
                        foreach (ExtProductAttributeInfo info in Model.ExtProductAttributeList)
                        {
                            if (info.AttrGroupId != tempAttrGroupId)
                            {
                                <tr class="groupHead"><td colspan="2" align="center">@info.AttrGroupName</td></tr>
                            }
                            if (info.IsInput == 0)
                            {
								<tr class="attrbody"><th>@info.AttrName</th><td>@info.AttrValue</td></tr>
                            }
                            else
                            {
								<tr class="attrbody"><th>@info.AttrName</th><td>@info.InputValue</td></tr>
                            }
                            tempAttrGroupId = info.AttrGroupId;
                        }
                     }
                    </table>
                </div>
                <script type="text/javascript">
                    function setTab(code) {
                        if (code == 1) {
                            document.getElementById("productDetails").style.display = "block";
                            document.getElementById("productAttr").style.display = "none";

                            document.getElementById("tab1").className = "hot";
                            document.getElementById("tab2").className = "";

                        }
                        else if (code == 2) {
                            document.getElementById("productDetails").style.display = "none";
                            document.getElementById("productAttr").style.display = "block";

                            document.getElementById("tab1").className = "";
                            document.getElementById("tab2").className = "hot";
                        }
                    }
                </script>
            </div>
            <div class="bilB1">
                <div class="bilB1Title">
                    <a href="#" class="hot">商品评论</a>
                    <div class="clear">
                    </div>
                </div>
                <div class="bilB1Con bilB" id="productReviewList">

                </div>
            </div>
            <div class="bilB1">
                <div class="bilB1Title">
                    <a href="#" class="hot">商品咨询</a>
                    <div class="clear">
                    </div>
                </div>
                <div class="bilB1Con bilB" id="productConsultList">

                </div>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
       <div id="footer" class="box">
        <div class="boxInner">
        @{
            int flag = 1;
            foreach (HelpInfo info in WorkContext.HelpList)
            {
                if (info.Pid != 0)
                {
                    if (info.Url.Length == 0)
                    {
                    <a href="@Url.Action("Question", "Help", new RouteValueDictionary { { "id", info.Pid } })">@info.Title</a>
                    }
                    else
                    {
                    <a href="@info.Url">@info.Title</a>
                    }
                }
                else
                {
                    if (flag != 1)
                    {
                       @:</div>
                    }
                    @:<div class="footerBox"><h3>@info.Title</h3>
                    flag++;
                }
            }
            if (WorkContext.HelpList.Count > 0)
            {
                @:</div>
            }
            }
            <div class="clear">
            </div>
        </div>
        <div class="clear"></div>
        <div class="links">
            @foreach (FriendLinkInfo info in WorkContext.FriendLinkList)
            {
            <a href="@info.Url" target="@info.Target" title="@info.Title">@info.Name</a> @:|
            }
        </div>
        <div style=" text-align:center;">
            共执行 @WorkContext.ExecuteCount 个查询，用时 @WorkContext.ExecuteTime 秒,会员 @WorkContext.OnlineMemberCount 人 游客 @WorkContext.OnlineGuestCount 人 共 @WorkContext.OnlineUserCount 人
            <br />
            程序版本 @WorkContext.MallVersion 版权所有 @WorkContext.MallCopyright
        </div>
        @Html.Raw(WorkContext.ExecuteDetail)
        </div>
<script type="text/javascript">
    getProductReviewList(pid, 1);
    getProductConsultList(pid, 0, "", 1);
</script>
@WorkContext.MallConfig.Script
</body>
</html>